.container{
  width: inherit;
}
.comment-index-container{
  width: 90%;
  position: relative;
}

.new-comment-form {
  display: flex;
  flex-direction: column;
  width: 694px;
  height: 68px;
  padding: 15px;
  background: #2C2F34;
  position: relative;
  padding: 15px;
  border: 2px solid #53555b;
  border-radius: 4px;
  cursor: text;
  margin-top: 20px;
  margin-bottom: 20px;
}
.comment-input{
  display: block;
  width: 100%;
  height: 22px;
  overflow: hidden;
  background: 0 0;
  box-shadow: none;
  padding: 0;
  border-radius: 4px;
  font-size: 15px;
  border: none;
  color: white;
  outline: none;
  font-weight: bolder;
  margin-bottom: 10px;
}
.comment-details-container{
  height: 36px;
  font-size: 12px;
  color: #8a8a8a;
  line-height: 60px;
  line-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.rules {
  display: flex;
}
.comment-details{
  display: flex;
  justify-content: flex-end;
}
.comment-button{
  display: flex;
  justify-content: flex-end;
  height: inherit;
  padding: 10px 25px;
  margin-left: 10px;
  font-weight: 700;
  background: #6C6C6C;
  border-color: #6C6C6C;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  color: #a8a8a2;
  cursor: pointer;
}
.comment-button:focus{
  background: #1bb76e;
}
.comments-info{
  width: inherit;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 600;
}
.comments-count{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95px;
}
.comments-info-right{
  width: 85%;
  text-align: right;
}
.expand-comments{
  float: right;
  margin-right: 50px;
}
.best-comments{
  float: right;
}
.comment-index-item{
  display: flex;
  background: #2c2f34;
  color: white;
  font-size: 14px;
  font-weight: normal;
  padding: 9px 12px 11px 15px;
  border-radius: 6px 6px 6px 0;
  margin-top: 2px;
}
.comment-body-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.comment-item-info{
  display: flex;
  margin-bottom: 4px;
}
.username{
  display: flex;
  font-size: 11px;
  font-weight: bold;
  color: #bbb;
  height: auto;
}
.comment-gradient-wrapper{
  transform: rotateX(-45deg);
  -webkit-transform-origin-x: rotate(45deg);
  height: 21px;
  background: linear-gradient(to top,#141518,#282a2e);
  position: absolute;
  bottom: -29px;
  left: -16px;
  display: block;
  width: inherit;
}
.comment-body{
  display: flex;
  width: inherit;
  height: 36px;
  flex-direction: row;
  justify-content: space-between;
}
.reply-button{
  display: none;
  position: relative;
  outline: none;
  cursor: pointer;
}
.replies-button{
  background: none;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.comment-index-item:hover .reply-button{
  font-family: 'Open sans', sans-serif;
  display: flex;
  border: 2px solid #34373c;
  border-radius: 5px;
  background-color: #595a5b;
  font-size: 14px;
  color: #a8a8a2;
  font-weight: bold;
  height: inherit;
}
.vote-actions{
  float: left;
  display: flex;
  flex-direction: column;
  position: relative;
}
.comment-votes{
  display: none;
  position: relative;
}
.container:hover .comment-votes{
  display: flex;
  float: left;
  padding: 4px;
  position: absolute;
  flex-direction: column;
  left: -43px;
}
.vote-arrow{
  display: flex;
  padding: 5px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
