.header {
  height: 50px;
  width: 100%;
  font-size: 15px;
  z-index: 101;
  position: relative;
  top: 0;
  background-color: #34373c;
  margin: 0 auto;
}

.left-nav nav {
  display: flex;
  justify-content: flex-start;
}
.header-buttons {
  float: left;
  width: 83px;
  height: 34px;
  background-size: contain;
  padding: 1px 11px 1px 17px;
  margin-top: 7px;
  background-size: contain;
  }
.imgur-header-icon {
  float: left;
  width: 83px;
  height: 34px;
  background-size: contain;
  padding: 1px 11px 1px 17px;
  margin-top: 7px;
  background-size: contain;
  }
.icon-container {
  display: block;
  float: left;
}
.icon-container :hover {
  border-radius: 19px;
  background-color: #535353;
}
.down-arrow {
  margin-top: 10px;
  display: flex;
  height: 11px;
  width: 29px;
  padding: 9px 0 9px 0;
  cursor: pointer;
  position: relative;
}
.down-arrow:before{
  content: "\2304";
  font-size: 36px;
  display: flex;
  margin-bottom: 30px;
  position: relative;
  bottom: 13px;
  left: 4px;
  color: #e4e5e5;
  font-weight: lighter;
}
.down-arrow:hover {
  border-radius: 19px;
  background-color: #535353;
}
.dropdown {
  background-color: white;
  position: absolute;
  z-index: 10;
  margin-top: 31px;
  width: 112px;
  right: 0px;
  font-family: sans-serif;
  text-align: justify;
  padding: 10px 14px;
  background-color: #efefef;
  color: #121211;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0,0,0,.35);
}
.dropdown-item {
  font-weight: 400;
  font-size: 14px;
  padding: 6px 7px;
  width: 100%;
  box-sizing: border-box;
  border: 1px transparent;
  display: inline-block;
}

.dropdown-item :hover{
  background: #d9d9d9;
}
.hiring {
  font-weight: bold;
}
.new-post-button-container {
  display: flex;
  background: #1bb76e;
  width: 141px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #1bb76e;
  padding: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.new-post-button {
  background: #1bb76e;
  width: 144px;
  padding-top: 10px;
}
.cloud {
  width: 35px;
  height: 32px;
  margin: 5px;
}
.down-arrow-new-post:before{
  content: "\2304";
  font-size: 31px;
  display: flex;
  margin-bottom: 30px;
  position: relative;
  right: 5px;
  color: #e4e5e5;
  font-weight: lighter;
}
.hidden {
  visibility: hidden;
}
.right-nav nav {

}
