.header-container{
  background-color: #34373c;
  width: 100%;
}
.header {
  height: 50px;
  width: 1048px;
  font-size: 15px;
  z-index: 101;
  position: relative;
  top: 0;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-nav {
  display: flex;
  justify-content: flex-start;
  height: inherit;
}
.header-buttons {
  display: flex;
  float: left;
  width: 83px;
  height: 34px;
  background-size: contain;
  padding: 1px 11px 1px 17px;
  margin-top: 7px;
  background-size: contain;
  position: relative;
  }
.imgur-header-icon {
  float: left;
  width: 83px;
  height: 34px;
  background-size: contain;
  padding: 1px 11px 1px 17px;
  margin-top: 7px;
  background-size: contain;
  }
.icon-container {
  float: left;
  align-items: center;
}
.signout{
  float: right;
  margin-left: 10px;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  background: transparent;
  color: white;
  height: 30px;
  padding-bottom: 5px;
}
.icon-container :hover {
  border-radius: 19px;
  background-color: #50545c;
}
.down-arrow {
  margin-top: 10px;
  display: flex;
  height: 11px;
  width: 29px;
  padding: 9px 0 9px 0;
  cursor: pointer;
  // position: relative;
}
.down-arrow:before{
  content: "\2304";
  font-size: 36px;
  display: flex;
  margin-bottom: 30px;
  position: relative;
  bottom: 15px;
  left: 4px;
  color: #e4e5e5;
  font-weight: lighter;
}
.down-arrow:hover {
  border-radius: 19px;
  background-color: #50545c;
}
.dropdown {
  position: absolute;
  background-color: white;
  font-family: sans-serif;
  text-align: justify;
  background-color: #efefef;
  color: #121211;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0,0,0,.35);
  width: 112px;
}
.home-button {
  margin-top: 31px;
  right: 0px;
  padding: 10px 14px;
  z-index: 5;
}
.dropdown-item {
  font-weight: 400;
  font-size: 14px;
  padding: 11px 7px;
  width: 100%;
  box-sizing: border-box;
  border: 1px transparent;
  display: inline-block;
}
.hiring {
  font-weight: bold;
}
.new-post-button-container {
  display: flex;
  background: #1bb76e;
  width: 141px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #1bb76e;
  padding: 0;
  color: white;
  font-size: 13px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.modal {
  display: flex;
  align-items: center;
}
.new-post-button {
  display: flex;
  background: #1bb76e;
  width: 144px;
  padding-top: 9px;
  font-size: 14px;
  font-weight: 600;
}
.cloud {
  width: 35px;
  height: 32px;
  margin: 5px;
}
.down-arrow-new-post{
  display: flex;
}
.down-arrow-new-post:before{
  content: "\2304";
  display: flex;
  font-size: 31px;
  color: #e4e5e5;
  font-weight: lighter;
  width: 15px;
  position: absolute;
  top: 8px;
  left: 255px;
}
.new-post {
  top: 50px;
  width: 144px;
  left: 140px;
  background-color: #e5e5e5;
  z-index: 4;
}
.dropdown-item :hover{
  background: #d9d9d9;
}
.hidden {
  visibility: hidden;
}
.right-nav {
  display: flex;
  justify-content: flex-end;
}
.signup-signin-links {
  height: 15px;
  cursor: pointer;
  margin: 15px;
  margin-left: 0;
  color: white;
}
.right-nav-link {
  height: 15px;
  cursor: pointer;
  padding: 3px 15px 7px 15px;
  color: white;
}
.search-icon-container {
  position: relative;
  display: flex;
}
.search-icon {
  padding: 7px;
  margin-top: 5px;
  right: -7px;
}
.search-icon:focus {
  right: 3px;

}
.search-bar {
  background-color: #50545c;
  outline: none;
  border: 1px transparent;
  width: 443px;
  height: 48px;
  border-bottom: 3px solid #1bb76e;
  color: white;
  position: relative;;
}
.search-bar-addition {
  border-bottom: none;
  display: flex;
  color: white;
  font-weight: lighter;
  font-size: 9px;
  position: absolute;
}
