.post-show-page-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Open sans', sans-serif;
}
.post-show-page{
  margin: 0 auto;
  width: 1048px;
  display: flex;
  flex-direction: row;
}
.left-post-pad{
  display: flex;
  width: 650px;
  flex-direction: column;
  margin: 20px 60px 0 60px;
  align-items: center;
}
.show-page-title {
  display: flex;
  background-color: #2c2f34;
  height: 80px;
  align-items: center;
  color: white;
  padding: 5px 20px;
  font-size: 18px;
  border-radius: 3px 3px 0 0;
}
.button {
  padding: 10px 25px;
  border: none;
  border-radius: 2px;
  height: 16px;
  width: 87px;
}
.prev-post:before{
  // content: "&#9655;";
}
.prev-post{
  background-color: #3F434A;
  width: 13px;
  height: 36px;
  margin-right: 5px;
  padding: 10px 20px;
}
.next-post {
  background: #5c69ff;
  padding-left: 15px;
  box-sizing: border-box;
  padding-right: 15px;
  color: white;
  font-size: 14px;
  width: 180px;
  height: 36px;
}
.image-item-container{
  display: flex;
  background-color: #000000;
  width: 650px;
  justify-content: center;
  border-bottom: 20px solid #2c2f34;
}
.image-item {
  display: flex;
  width: auto;
  height: 410px;
}
.post-description{
  display: flex;
  background-color: #2c2f34;
  height: 80px;
  color: white;
  padding: 5px 20px;
  font-size: 14px;
  border-radius: 0 0 3px 3px;
  width: 94%;
  flex-direction: column;
}
.post-actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}
.post-actions-left{
  display: flex;
  justify-content: flex-start;
}
.post-actions-right{
  display: flex;
  justify-content: flex-end;
}
.post-actions-action{
  justify-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 25px 0 0;
}
.post-actions-social{
  display: flex;
  justify-content: flex-end;
  width: 30px;
  height: 30px;
  padding: 0 8px 0 8px;
}
.last-menu{
  height: 20px;
  width: 20px;
}
.right-post-pad{
  display: flex;
  width: 300px;
}
.sidebar-item {
  width: 130px;
  height: auto;
}
