.back-imgur {
  display: flex;
  flex-direction: row;
  font: 14px system-ui;
  position: absolute;
  text-decoration: none;
  color: white;
  margin: 20px;
  text-align: right;

}
.i-back-imgur {
  font: 30px system-ui;
  font-weight: 600;
  position: absolute;
  text-decoration: none;
  color: white;
}

.login-form-container {
  font-family: 'Open sans';
  width: 350px;
  height: 100%;
  margin: auto;
  background-color: #141518;
  color: white;
  font-family: sans-serif;
  font-size: 11px;
  letter-spacing: .03em;
  text-align: center;
}

.imgur-image {
  padding-top: 80px;
  position: relative;
  display: block;
  margin: 0 auto 90px;
  width: 250px;
  height: 65px;
  cursor: pointer;
}
.register-box {
  height: 30px;
}
.social-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 2px 2px 9px 3px rgba(0,0,0,.2);
  padding: 12px;
  background: #2C2F34;
  border-radius: 5px;
}

.logo {
  padding-top: 8px;
  display: block;
  width: 74px;
  height: 27px;
  background: #212121;
  border-radius: 5px;
  border-bottom: 5px solid;
  transition: background-color 1s, transform .25s;
  position: relative;
}

.linkedin {
  font-size: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-bottom-color: #0077b5;
}
.linkedin-icon{
  position: relative;
  height: 19px;
}
.linkedin:hover {
  background-color: #0077b5;
}

.github {
  border-bottom-color: #d971db;
}
.github:hover{
  background-color: #d971db;
}
.github-icon {
  width: 30px;
  height: 30px;
  position: relative;
  background: none;
  z-index: 100;
  bottom: 9px;
}

.resume {
  border-bottom-color: #D34836;
}
.resume-icon {
  border-bottom-color: #D34836;
  position: relative;
  bottom: 3px;
}

.resume:hover {
  background-color: #D34836;
}

.angellist {
  font-size: 20px;
  color: #7B0099;
  text-align: center;
  text-decoration: none;
  border-bottom-color: #7B0099;
}
.angellist-icon{
  height: 35px;
  bottom: 8px;
  position: relative;
}
.angellist:hover {
  background-color: #7B0099;
}

.login-divider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0 10px 0;
}
.divider{
  opacity: .5;
  height: 1px;
  color: white;
  text-decoration: line-through;
  background: url(//imgur.com/images/access/fading-section-break.png) no-repeat;
  display: inline-block;
  opacity: .7;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 9px 3px rgba(0,0,0,.2);
  padding: 6px;
  border: 1px solid transparent;
  background: #2C2F34;
  border-radius: 5px;
  height: 137px;
}

.login-input {
  padding: 5px 10px;
  width: 300px;
  height: 18px;
  border: 1px transparent;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #191919;
  font-size: 1.1em;
  color: grey;
  letter-spacing: .02em;
  line-height: 1.5em;
  box-sizing: content-box;
}
.login-input:focus{
  border: 1px solid green;
  outline-offset: none;
  outline-color: green;
}
.login-form-session {
  height: 94px;
  padding: 0px;
  box-sizing: border-box;
  .login-input {
    background-color: rgb(250, 255, 189);
  }
}
.last {
  margin-bottom: 0;
}
.terms {
  padding-top: 10px;
}
.sign-up-buttons{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  justify-content: flex-end;
  padding: 10px 0 10px 0;
  width: 350px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: lighter;
}
.to-login-link {
  padding: 10px 0 10px 0;
  text-decoration: none;
  border-style: none;
  height: 40px;
  color: white;
  border-radius: 2px;
  margin-left: 5px;
  width: 95px;
}
.demo-login {
  background-color: #141518;
  font-size: 14px;
}
.submit-button {
  font-size: 14px;
  padding: 10px 0 10px 0;
  color: blue;
  background: #5c69ff;
  border-style: none;
  height: 40px;
  color: white;
  border-radius: 2px;
  margin-left: 5px;
  width: 95px;
}
